.buttonsContainer,
.cardsContainer {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #d5f5f6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cardsContainer {
  display: block;
}

.containerMain {
  max-width: 1280px;
  margin: 0 auto;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .grid3,
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .grid3,
  .grid4 {
    grid-template-columns: 1fr;
  }
}
